@model WorkflowManagementSystem.ViewModels.EventProjectViewModel

    <div>
        @*<h4>Client Details</h4>*@
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Presentation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Presentation)
            </dd>

        </dl>
    </div>
    <p>
        @*@Html.ActionLink("Back to List", "Index")*@
    </p>

    @*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

