@model WorkflowManagementSystem.ViewModels.EventProjectViewModel

@if (Request.IsAuthenticated && User.IsInRole("Client Service Employee"))
{
    {
        ViewBag.Title = "ProjectSchedules";
    }

    <h2>Add Schedule</h2>

    <div>
        <hr />
        @Html.HiddenFor(m => m.EventProjectId)
    </div>
                
    <div id="ProjectScheduleCreate">
        @Html.Partial("AddProjectSchedulePartial", new WorkflowManagementSystem.ViewModels.ProjectScheduleViewModel())
    </div>
    <div id="ProjectScheduleList"></div>
    <p>
        @*@Html.ActionLink("Back", "Create")*@
        @Html.ActionLink("Back", "Details", new { id = Model.EventProjectId })
    </p>

    @section Scripts {
        <script type="text/javascript">

            // Show schedule list of a project
            function getProjectSchedules() {
                $.ajax({
                    url: "/EventProject/GetProjectSchedulesPartial",
                    type: "get",
                    data: { id: $("#EventProjectId").val() },
                    dataType: "html",
                    success: function (result, status, jqxhr) {
                        $("#ProjectScheduleList").html(result);
                    },
                    error: function (jqxhr, status, exception) {
                        console.log(status);
                    }
                });
            }

            // Clear section form fields
            function clearScheduleForm() {
                $("#Date").val("");
                $("#StartTime").val("");
                $("#EndTime").val("");
            }

            $(document).ready(function () {
                clearScheduleForm()
                getProjectSchedules();

                $("#CreateScheduleButton").click(function (e) {
                    // Prevent the form to be submitted regulary. Use JQuery to submit the form
                    e.preventDefault();

                    $.ajax({
                        url: "/EventProject/AddProjectSchedulePartial",
                        type: "post",
                        data: {
                            ScheduleId: $("#ScheduleId").val(),
                            Date: $("#Date").val(),
                            StartTime: $("#StartTime").val(),
                            EndTime: $("#EndTime").val(),
                            EventProjectId: $("#EventProjectId").val(),
                        },
                        success: function (result, status, jqxhr) {

                            clearScheduleForm();

                            getProjectSchedules();
                        },
                        error: function (jqxhr, status, exception) {
                            console.log(status);
                        }
                    });
                });
            });
        </script>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}