@model WorkflowManagementSystem.ViewModels.ProjectEventReportViewModel

@if (Request.IsAuthenticated)
{
    {
        Layout = null;
    }

    using (Html.BeginForm("ProjectEventReportPartial", "EventProject", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.EventProjectId)
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row col-md-7 col-md-offset-4 text-center" style="font:30px;">
                <h4 class="col-md-6 labelStyle">Upload Event Report</h4>
                @*@Html.LabelFor(model => model.EventReportFile , htmlAttributes: new { @class = "control-label col-md-2" })*@
                <br />
                <br />
                <br />
                <span class="row col-md-6 col-md-offset-2 glyphicon glyphicon-open"></span>
                <br />
                <br />
                <br />
                <br />
                <br />               
                    <div class="col-lg-12">
                        @Html.TextBox("EventReportFile", "", new { type = "file" })
                    </div>
                </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br />
                    <br />
                    <input type="submit" value="Upload" class="btn btn-success upload-btn" id="CreateEventReportButton" />
                </div>
            </div>
        </div>
    }
}
