@model WorkflowManagementSystem.ViewModels.ProjectEventReportTemplateViewModel

@if (Request.IsAuthenticated)
{
    {
        Layout = null;
    }
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventReportTemplate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EventReportTemplate)
            </dd>
            @*<dd>
                    @Html.DisplayFor(model => model.EventReportFile)
                    @if (!String.IsNullOrEmpty(Model.EventReport))
                    {
                        <a href="@Url.Content(Model.EventReport)">Event Report Template File</a>
                    }
                </dd>*@
        </dl>
    </div>
}




