@model WorkflowManagementSystem.ViewModels.ProjectEventReportViewModel

@if (Request.IsAuthenticated)
{
    {
        Layout = null;
    }
    <hr />
    <div class="row col-md-7 col-md-offset-4 text-center ">
        @Html.HiddenFor(m => m.EventProjectId)
        @Html.HiddenFor(m => m.EventReportFile)
        <br />
        <h4 class="col-md-6 labelStyle">Download Event Report</h4>
        <dl>
            <dt class="control-label col-md-6 labelStyle">
                @*@Html.DisplayNameFor(model => model.EventReportFile)*@
            </dt>
        </dl>
        <br />
        <br />
        <br />
        <span class="row col-md-6 col-md-offset-2 glyphicon glyphicon-save"></span>
        <br />
        <br />
        <br />
        <br />
        <br />
        <dl class="row text-center">
            <dd>
                @Html.DisplayFor(model => model.EventReportFile)
                @if (!String.IsNullOrEmpty(Model.EventReport))
                {
                    <a href="@Url.Content(Model.EventReport)" data-toggle="tooltip" title="Click here to download the Event Report File" class="col-md-6 linkStyle">Event Report File</a>
                }
            </dd>
        </dl>
    </div>

    if (Model.EventReport == null)
    {
        <p class="countMessage col-md-11">Event Report not yet uploaded.</p>
    }
}




