/*.navbar {
    background-color: #53050d;
}*/
    /*background-color: #75060f;
    border-color: black;
    color: white !important;
}

.navbar .navbar-brand { color: white; }*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/*Set padding to keep content from hitting the edges*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font: 400 15px sans-serif;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Fieldset*/
fieldset.fieldset-border {
    border: 1px solid #e5e5e5;
    padding: 0 1em 1em 1em;
    margin: 0 0 1.5em 0;
}

legend.fieldset-border {
    width: inherit;
    padding: 5px 10px;
    border-bottom: none;
    font-weight: 300;
}

legend {
     color: black;
    /*background-color: #e9e9e9;*/
    padding: 1px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:23px;
    text-align:center;
}

fieldset {
    background-color: #f2f2f2;
}

div.form-group {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:17px;  
}

/*Headers*/
h2 {
    font-size: 27px;
    font-weight:900;
    color: black;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}

h1.center {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.color-grey {
    background-color: #f6f6f6;
    line-height: 20px;
    padding: 100px;
}

.color-login {
    background-color: #f6f6f6;
    padding: 100px;
    padding-right:20px;
}

/*.btn-default:hover, .btn-default:focus {
    border: 1px solid #a82323;
    background-color: #fff;
    color: #000;
}*/

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

/*.form-text {
    display: block;
    margin-top:4px;
}*/

.companyColor {
    color: #971f1f;
}


.btn.round {
    border-radius: 24px;
}