@model WorkflowManagementSystem.ViewModels.CostSheetViewModel

@{
    ViewBag.Title = "Approval Details";
}

<h2>Approval Details</h2>

<div class="details-Background">
    @Html.Action("FinanceApprovalDetails", "CostSheet")
</div>

<div class="details-Background">
    @Html.Action("CEOApprovalDetails", "CostSheet")
</div>


@*<div>
    @Html.ActionLink("Back", "CostSheetItems", new { id = Model.CostSheetId })
</div>*@