@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

@*Contact form*@
<br />
<h2>Contact Us!</h2><br />
<div class="container">
    <form action="action_page.php">

        <label for="fname">First Name</label><br />
        <input type="text" id="fname" name="firstname" placeholder="Your name.."><br />

        <label for="lname">Last Name</label><br />
        <input type="text" id="lname" name="lastname" placeholder="Your last name.."><br />

        <label for="email">Email</label><br />
        <input type="text" id="email" name="email" placeholder="Email.."><br />

        <label for="message">Message</label><br />
        <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea><br />

        <input type="submit" value="Submit">


        @*To style the contact us form*@
        <style>
            input[type=text], select, textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical;
            }

            input[type=text], select, textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical;
            }

            input[type=submit] {
                background-color: #a82323;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

                input[type=submit]:hover {
                    background-color: #a82323;
                }
        </style>
    </form>
</div>
<br />
<h3>Location</h3>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>