@{
    ViewBag.Title = "Home Page";

}
<br /> <br /> <br />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>X Event Management</h1> 
        <h2>Workflow Management System</h2>
        <p class="lead text-center">This application automates the process of the organization. It allows the creation of project, assignig tasks, creating cost sheets, uploading deliverables, as well as granting approvals.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md pull-right">Visit Our Website &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Mission Statement</h2>
        <p class="text-center details-Background">
            Organization's mission statement here
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-6">
        <h2>Vision Statement</h2>
        <p class="text-center details-Background">Organization's vision statement here</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
</div>

